a{
    margin: 20px;
    display: inline-block;
    width: 5%;
    padding: 10px 20px;
    background-color: #5BAD36;
    color: black;
    border-radius: 10px;
    text-align: center;
    transition: all 0.3s ease;
    position: relative;
}
a:hover{
    width: calc(5% + 10px);
    color: #5BAD36;
    background-color: black;
    box-shadow: 0 0 10px black;
}